files/spring-jax-ws-local-transport.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://jax-ws.dev.java.net/spring/local-transport'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://jax-ws.dev.java.net/spring/local-transport'>

  <!-- element for type: com.sun.xml.ws.transport.local.LocalBinding -->
  <xs:element name='bindings'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Set of {@link SpringBinding}.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='endpoints' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Individual endpoints.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
      <xs:attribute name='beanName' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Bean name is used as the ID of the in-vm server,
which becomes the URI to access this in-vm server endpoint
(<tt>in-vm://<i>ID</i>/</tt>)
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
